<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video Downloader</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>YouTube Video Downloader</h1>
        <form action="/download" method="POST">
            <input type="text" name="videoURL" placeholder="Enter YouTube Video URL">
            <button type="submit">Download</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

